In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
%matplotlib inline

In [2]:
df = pd.read_csv('table_8_offenses_known_to_law_enforcement_new_york_by_city_2013.csv')
df

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Rape (legacy definition)2,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson3,Unnamed: 13
0,Adams Village,"1,861",0,0.0,NaN,0,0,0,12,2,10,0,0.0,NaN
1,Addison Town and Village,"2,577",3,0.0,NaN,0,0,3,24,3,20,1,0.0,NaN
2,Akron Village,"2,846",3,0.0,NaN,0,0,3,16,1,15,0,0.0,NaN
3,Albany,"97,956",791,8.0,NaN,30,227,526,"4,090",705,"3,243",142,NaN,NaN
4,Albion Village,"6,388",23,0.0,NaN,3,4,16,223,53,165,5,NaN,NaN
5,Alfred Village,"4,089",5,0.0,NaN,0,3,2,46,10,36,0,NaN,NaN
6,Allegany Village,"1,781",3,0.0,NaN,0,0,3,10,0,10,0,0.0,NaN
7,Amherst Town,"118,296",107,1.0,NaN,7,31,68,"2,118",204,"1,882",32,3.0,NaN
8,Amityville Village,"9,519",9,0.0,NaN,2,4,3,210,16,188,6,1.0,NaN
9,Amsterdam,"18,182",30,0.0,NaN,0,12,18,405,99,291,15,0.0,NaN
10,Arcade Village,"2,053",0,0.0,NaN,0,0,0,39,3,35,1,0.0,NaN
11,Ardsley Village,"4,523",5,0.0,NaN,0,3,2,33,4,28,1,0.0,NaN
12,Asharoken Village,658,0,0.0,NaN,0,0,0,2,0,2,0,0.0,NaN
13,Attica Village,"2,522",2,0.0,NaN,0,0,2,5,0,4,1,0.0,NaN
14,Auburn,"27,270",96,1.0,NaN,20,22,53,859,132,721,6,NaN,NaN
15,Avon Village,"3,333",1,0.0,NaN,0,1,0,25,3,20,2,NaN,NaN
16,Baldwinsville Village,"7,473",5,0.0,NaN,0,1,4,88,10,77,1,0.0,NaN
17,Ballston Spa Village,"5,418",8,0.0,NaN,0,3,5,94,16,78,0,1.0,NaN
18,Batavia,"15,374",57,0.0,NaN,7,13,37,559,103,454,2,NaN,NaN
19,Bath Village,"5,733",15,0.0,NaN,1,3,11,191,32,157,2,2.0,NaN
20,Bedford Town,"17,627",5,0.0,NaN,0,1,4,156,26,127,3,NaN,NaN
21,Bethlehem Town,"34,243",13,0.0,NaN,0,3,10,442,50,388,4,NaN,NaN
22,Binghamton,"46,304",284,3.0,NaN,19,101,161,"2,349",525,"1,767",57,NaN,NaN
23,Black River,"1,410",0,0.0,NaN,0,0,0,14,2,12,0,0.0,NaN
24,Blooming Grove Town,"12,001",8,0.0,NaN,1,0,7,99,20,72,7,NaN,NaN
25,Bolivar Village,"1,022",1,0.0,NaN,0,0,1,4,2,2,0,0.0,NaN
26,Bolton Town,"2,325",2,0.0,NaN,0,0,2,24,4,20,0,0.0,NaN
27,Boonville Village,"2,054",1,0.0,NaN,0,0,1,20,6,14,0,0.0,NaN
28,Brant Town,"2,065",4,0.0,NaN,0,1,3,31,9,20,2,0.0,NaN
29,Brewster,"2,358",0,0.0,NaN,0,0,0,13,3,10,0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
321,Utica,"61,686",361,7.0,NaN,27,102,225,"2,528",449,"1,997",82,NaN,NaN
322,Vestal Town,"27,980",16,0.0,NaN,2,6,8,571,39,523,9,NaN,NaN
323,Walden Village,"6,887",18,1.0,NaN,2,1,14,142,13,124,5,NaN,NaN
324,Wallkill Town,"27,940",40,0.0,NaN,3,16,21,767,91,650,26,1.0,NaN
325,Walton Village,"3,012",6,0.0,NaN,1,0,5,68,18,50,0,NaN,NaN
326,Warsaw Village,"3,453",6,0.0,NaN,1,0,5,78,5,73,0,0.0,NaN
327,Washingtonville Village,"5,828",2,0.0,NaN,0,1,1,58,5,51,2,0.0,NaN
328,Waterford Town and Village,"8,392",4,0.0,NaN,0,0,4,59,6,52,1,0.0,NaN
329,Waterloo Village,"5,175",11,0.0,NaN,0,3,8,194,23,169,2,NaN,NaN
330,Watertown,"28,179",109,0.0,NaN,12,16,81,"1,165",169,953,43,NaN,NaN
331,Watervliet,"10,245",26,1.0,NaN,3,11,11,242,58,163,21,NaN,NaN
332,Watkins Glen Village,"1,862",6,0.0,NaN,0,0,6,92,10,80,2,NaN,NaN
333,Waverly Village,"4,337",5,0.0,NaN,0,1,4,54,9,41,4,NaN,NaN
334,Webster Town and Village,"43,777",21,0.0,NaN,2,3,16,469,101,361,7,NaN,NaN
335,Weedsport Village,"1,797",0,0.0,NaN,0,0,0,25,5,20,0,0.0,NaN
336,Wellsville Village,"4,574",11,0.0,NaN,1,0,10,164,32,129,3,1.0,NaN
337,Westhampton Beach Village,"1,732",2,0.0,NaN,0,0,2,44,4,37,3,0.0,NaN
338,West Seneca Town,"44,821",35,1.0,NaN,1,9,24,896,166,710,20,0.0,NaN
339,Whitehall Village,"2,604",6,0.0,NaN,0,0,6,62,12,49,1,NaN,NaN
340,White Plains,"57,559",78,1.0,NaN,3,28,46,"1,232",77,"1,134",21,NaN,NaN
341,Whitesboro Village,"3,733",4,0.0,NaN,0,0,4,36,14,21,1,0.0,NaN
342,Whitestown Town,"9,141",0,0.0,NaN,0,0,0,77,13,61,3,0.0,NaN
343,Woodbury Town,"10,685",3,0.0,NaN,0,2,1,541,9,529,3,NaN,NaN
344,Woodridge Village,829,7,0.0,NaN,0,0,7,17,8,9,0,0.0,NaN
345,Woodstock Town,"5,931",2,0.0,NaN,0,0,2,58,13,45,0,NaN,NaN
346,Yonkers,"199,134","1,036",6.0,NaN,25,390,615,"2,368",470,"1,662",236,10.0,NaN
347,Yorktown Town,"36,643",15,0.0,NaN,0,2,13,334,45,287,2,NaN,NaN
348,1 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
349,2 The figures shown in this column for the off...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
350,3 The FBI does not publish arson data unless i...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df['Population'] = df['Population'].str.replace(',', '')
df['Population'] = df['Population'].fillna(0)
df['Population'] = df['Population'].apply(int)

In [33]:
df['population_squared'] = (df['Population'] * df['Population'])
df['murder_yes'] = np.where(df.iloc[:, 3]>=1, 1, 0)
df['robbery_yes'] = np.where(df.iloc[:, 3]>=1, 1, 0)

In [34]:
df['population_squared']

0          3463321
1          6640929
2          8099716
3       9595377936
4         40806544
5         16719921
6          3171961
7      13993943616
8         90611361
9        330585124
10         4214809
11        20457529
12          432964
13         6360484
14       743652900
15        11108889
16        55845729
17        29354724
18       236359876
19        32867289
20       310711129
21      1172583049
22      2144060416
23         1988100
24       144024001
25         1044484
26         5405625
27         4218916
28         4264225
29         5560164
          ...
321     3805162596
322      782880400
323       47430769
324      780643600
325        9072144
326       11923209
327       33965584
328       70425664
329       26780625
330      794056041
331      104960025
332        3467044
333       18809569
334     1916425729
335        3229209
336       20921476
337        2999824
338     2008922041
339        6780816
340     3313038481
341       13935289
342       83557881
343      114169225
344         687241
345       35176761
346    39654349956
347     1342709449
348              0
349              0
350              0
Name: population_squared, Length: 351, dtype: int64

In [35]:
df['murder_yes']

0      0
1      0
2      0
3      1
4      0
5      0
6      0
7      1
8      0
9      0
10     0
11     0
12     0
13     0
14     1
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     1
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
321    1
322    0
323    1
324    0
325    0
326    0
327    0
328    0
329    0
330    0
331    1
332    0
333    0
334    0
335    0
336    0
337    0
338    1
339    0
340    1
341    0
342    0
343    0
344    0
345    0
346    1
347    0
348    0
349    0
350    0
Name: murder_yes, Length: 351, dtype: int32

In [36]:
df['robbery_yes']

0      0
1      0
2      0
3      1
4      0
5      0
6      0
7      1
8      0
9      0
10     0
11     0
12     0
13     0
14     1
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     1
23     0
24     0
25     0
26     0
27     0
28     0
29     0
      ..
321    1
322    0
323    1
324    0
325    0
326    0
327    0
328    0
329    0
330    0
331    1
332    0
333    0
334    0
335    0
336    0
337    0
338    1
339    0
340    1
341    0
342    0
343    0
344    0
345    0
346    1
347    0
348    0
349    0
350    0
Name: robbery_yes, Length: 351, dtype: int32